.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 100%


.rowWrapper
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  padding-bottom: 12px
  font-size: 12px

  button p
    padding-left: 12px
    color: #130F26

.rowWrapper:last-child
  padding-bottom: 0

  button p
    padding-left: 12px
    color: #F26B5E

.icon
  stroke: #130F26

.sendButton
  text-transform: capitalize
  color: #130F26
  border: 2px solid #130F26
  font-size: 14px
  font-weight: 600

.rotate
  transform: rotate(90deg)

.deleteIcon
  stroke: #F26B5E




